body {
	margin: 0;
}

.top-header {
	text-align: center;
}

h1 {
	padding: 0;
	color: #4aaaa5;
}

.name-color {
	background: #4aaaa5;
	margin: 0;
	padding: 20px;
	color: white;
}

nav {
	padding: 15px;
	border-bottom: solid grey 2px;
}

ul {
	display: inline;
	padding-left: 0;

}

li {
	display: inline;
	padding: 0px 75px;

}

.middle-li {
	border: solid lightgrey;
	border-width: 0px 1px;
}

a {
	text-decoration: none;
	color: grey;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.view {
	background: lightgrey;
	margin: 0;
	padding: 10px;
}

.large-container {
	background-color: white;
	margin: 15px;
	border: solid grey 1px;
	padding: 20px;
}


/* ABOUT */


.img-about {
	width: 548px;
	height: 300px;
}

.about-text {
	line-height: 30px;
}

/* PORTFOLIO */

.portfolio-img {
	width: 540px;
	height: 300px;
	padding: 5px;
}


/* CONTACT */

.textfield {
	width: 99%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.submit-btn {
	background: #4aaaa5;
	color: white;
	width: 15%;
	height: 15px;
	border: solid 0px;
	border-radius: 0;
}

/*
li, input, p, div {
	font-family: Georgia, Times, Times New Roman, serif;

}
*/


.connect-container {
	margin: 15px;
	border: solid grey 1px;
	padding: 20px;
	background-color: white;
}

.icon {
	width: 60px;
	height: 60px;
}

.footer-container {
	background-color: grey;
	margin: 0;
	border-top: solid #4aaaa5 5px;
	padding: 20px;
	text-align: center;
}



/* For desktop: */
@media only screen and (max-width: 980px) {
	.top-header {display: inline;}
	name-color {float: left; position: absolute;}
	.view {padding-left: 75px; padding-right: 75px;}
	.large-container {width: 50%}
	.img-about {width: 100%;}
 	.view {display: flex;}
 	.connect-container {height: 20%; width: 25%;}
 	nav {padding: 5px;}
 	h1 {float: left;}
 	ul 	{float: left;}


}




/* For tablets: *//*
@media only screen and (max-width: 768px) {
.img-about {width: 50%; float: left}
.about-me-body {display: flex; padding-left: 15px;}

}

*/


/* For mobile phones: *//*
@media only screen and (max-width: 640px) {
	header {position: static;}
 	.img-about {width: 100%;}
 	.about-text {display: flex; flex-direction: column;}
	
}

*/

